{% extends "layout.j2" %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <div id="featured_course_section" class="well well-sm" style="background-color: #BBD8E9;">
            <h4>Heading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p><span class="btn">View details &raquo;</span></p>
        </div>
    </div>
    <div class="col-sm-4">
        <div id="featured_course_section" class="well well-sm" style="background-color: #BBD8E9;">
            <h4>Heading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p><span class="btn">View details &raquo;</span></p>
        </div>
    </div>
    <div class="col-sm-4">
        <div id="featured_course_section" class="well well-sm" style="background-color: #BBD8E9;">
            <h4>Heading</h4>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            <p><span class="btn">View details &raquo;</span></p>
        </div>
    </div>
</div>
{% endblock %}